/* Is following you badge (web/mobile version) */
.css-1dbjc4n.r-1awozwy.r-z2wwpe.r-6koalj.r-1q142lx {
    display: none;
}

/* Follow count (web/mobile version) */
.css-1dbjc4n.r-13awgt0.r-18u37iz.r-1w6e6rj {
    display: none;
}

/* Common followers (web version) */
.css-901oao.r-1bwzh9t.r-1wbh5a2.r-37j5jr.r-1enofrn.r-16dba41.r-fxxt2n.r-97wbjc.r-bcqeeo.r-qvutc0 {
    display: none;
}

/* Common followers (mobile version) */
.css-901oao.r-1bwzh9t.r-1wbh5a2.r-37j5jr.r-n6v787.r-16dba41.r-1cwl3u0.r-19u6a5r.r-bcqeeo.r-qvutc0 {
    display: none;
}

/* Common followers icons (web version) */
.css-1dbjc4n.r-18u37iz.r-1q142lx.r-1w6e6rj.r-1yevf0r.r-1777fci.r-1udh08x {
    display: none;
}

/* Common followers icons (mobile version) */
.css-1dbjc4n.r-18u37iz.r-1q142lx.r-1w6e6rj.r-z80fyv.r-1777fci.r-1udh08x {
    display: none;
}