/* Social interactions (only views) (web version) */

.css-1dbjc4n.r-1ta3fxp.r-18u37iz.r-1wtj0ep.r-1s2bzr4.r-1mdbhws > div:first-child {
    display: none;
}

.css-1dbjc4n.r-1kfrmmb.r-1efd50x.r-5kkj8d.r-13awgt0.r-18u37iz.r-tzz3ar.r-s1qlax.r-1yzf0co > div:first-child{
    display: none;
}