/* Trends (web) */
.css-1dbjc4n.r-g2wdr4.r-14wv3jr.r-1867qdf.r-1phboty.r-rs99b7.r-ku1wi2.r-1udh08x.r-1d6w8o1
.css-1dbjc4n.r-g2wdr4.r-14wv3jr.r-1867qdf.r-1phboty.r-rs99b7.r-ku1wi2.r-1udh08x {
    display: none;
}

/* Trends (mobile) */
.css-1dbjc4n.r-g2wdr4.r-14wv3jr.r-1867qdf.r-1phboty.r-rs99b7.r-1ifxtd0.r-1udh08x {
    display: none;
}
